/* Footer */

.footer{
	background-color: var(--dark);
	padding-left: var(--strict-indertetion);
	padding-right: var(--strict-indertetion);
}


/* Container (footer) */

.footer__container{
	position: relative;
	display: grid;
	justify-content: space-between;
	justify-items: start;
	row-gap: 50px;
	padding: 50px 35px 80px 0;
}

@media (max-width: 542px) {
	.footer__container{
		grid-template-columns: 1fr;
	}
}
@media (min-width: 542px) {
	.footer__container{
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;
	}
}
@media (min-width: 876px) {
	.footer__container{
		grid-template-columns: 1fr 1fr max-content;
		column-gap: 90px;
	}
}

/* Footer Logo */
.footer__logo{
	margin: 0;
	display: inline-block;
}


@media (max-width: 542px) {
	.footer__logo{
		display: none;
	}
}
@media (min-width: 542px) {
	.footer__logo{
		grid-column: 1;
	}
}
@media (min-width: 876px) {
	.footer__logo{
		grid-column: 1 / 3;
	}
}



/* Block */

.footer__block{
	width: 100%;
}

@media (max-width: 542px) {
	.company__block{
		display: none;
	}
}

.block__title{
	color: var(--semi-white);
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	border-bottom: 1px dotted #5b6671;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 28px;
}

.footer__menu__list{
	list-style: none;
	padding: 0;
}

.footer__menu--link{
	font-size: 16px;
	color: #c5cbd0;
	font-weight: 500;
	line-height: 1.4em;
	transition: color .2s ease-in-out;
}
.footer__menu--link:hover{
	color: var(--semi-white);
}

.link--letter{
	font-weight: 300;
}

.link--letter:hover{
	color: #c5cbd0;
}


/* Social */

.social{
	margin-top: 60px;
	display: flex;
	gap: 10px;
}

.social__link{
	width: 28px;
	height: 28px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.social__link::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 14px;
	z-index: 1;
	transition: all .15s ease-in-out;
}
.twitter::before{
	background: #08a0e9;
}
.instagram::before{
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.facebook::before{
	background: #3b5998;
}
.social__link:hover::before{
	width: 100%;
	height: 100%;
}

.social__icon{
	width: 16px;
	height: 16px;
	fill: var(--white);
	z-index: 2;
}



/* Burzhuy */

.prosnis-rabochiy{
	padding-top: 20px;
	display: grid;
	align-content: center;
	justify-items: start;
}

.burzhuy{
	min-width: 225px;
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: repeat(2, max-content);
	align-items: center;
	column-gap: 25px;
	font-size: 15px;
}
.burzhuy__image{
	grid-row: 1 / 3;
	width: 45px;
	height: 45px;
	border-radius: 23px;
	background-image: url(https://static.kinoafisha.info/k/articles/1200/upload/articles/888562918076.jpg);
	background-position: center;
	background-size: cover;
}
.burzhuy__name{
	font-weight: 700;
	color: var(--semi-white);
}
.burchuy__position{
	color: #c5cbd0;
	font-weight: 500;
	margin: 0;
}

.prosnis-rabochiy h3{
	max-width: 320px;
	font-size: 46px;
	font-weight: 500;
	color: var(--semi-white);
	line-height: 1;
	margin: 40px 0 45px;
}

.footer__link{
	transform: translateX(-20px);
}

@media (min-width: 542px) {
	.prosnis-rabochiy{
		grid-column: 2 / 3;
		grid-row: 1 / 4;
		margin-left: 20px;
	}
}
@media (min-width: 876px) {
	.prosnis-rabochiy{
		grid-column: 3 / 4;
		grid-row: 1 / 3;
	}
}



/* Owners */

.owners{
	position: absolute;
	bottom: 20px;
	right: 20px;
	display: grid;
	grid-template-rows: repeat(2, max-content);
	align-items: center;
	text-align: right;
}
.owners h6{
	margin: 0;
	font-size: 16px;
	letter-spacing: 0.07em;
	color: #c5cbd0;
}
.owners__link{
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #c5cbd0;
	margin-left: 10px;
}
