/* Header */

.header{
	padding-left: var(--strict-indertetion);
	padding-right: var(--strict-indertetion);
	margin: 10px 20px 0;
	background-color: var(--white);
}


/* Container (header)*/

.header__container{
	height: 85px;
	display: grid;
	grid-template-columns: min-content 1fr;
	justify-content: space-between;
	align-items: center;
	gap: 8%;
}


/* Logo */

.logo{
	display: block;
	font-family: Roboto, sans-serif;
	margin: 0;
	color: var(--accent);
	font-size: 36px;
	font-weight: 400;
	letter-spacing: -0.05em;
	line-height: 1.4;
}
