/* Page */

.page{
	font-family: 'Rajdhani', sans-serif;
	line-height: 1.5;
}

.page__body{
	min-height: 100vh;
	margin: 0;
	background-color: rgb(235, 235, 235);
	display: grid;
	align-content: space-between;
}

/* Normalization */

*,
*::before,
*::after{
	box-sizing: border-box;
}

button, input{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.container{
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
}
