/* Page */

.page{
	font-family: 'Rajdhani', sans-serif;
	line-height: 1.5;
}

.page__body{
	margin: 0;
	background-color: rgb(235, 235, 235);
}

/* Normalization */

*,
*::before,
*::after{
	box-sizing: border-box;
}

button, input{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
