/* Radjhani (Light) */

@font-face {
    font-family: 'Rajdhani';
    font-weight: 300;
    src: url('../fonts/Rajdhani-Light.ttf') format('truetype');
}

/* Radjhani (Regular) */

@font-face {
    font-family: 'Rajdhani';
    font-weight: 400;
    src: url('../fonts/Rajdhani-Regular.ttf') format('truetype');
}

/* Radjhani (Medium) */

@font-face {
    font-family: 'Rajdhani';
    font-weight: 500;
    src: url('../fonts/Rajdhani-Medium.ttf') format('truetype');
}

/* Radjhani (SemiBold) */

@font-face {
    font-family: 'Rajdhani';
    font-weight: 600;
    src: url('../fonts/Rajdhani-SemiBold.ttf') format('truetype');
}

/* Radjhani (Bold) */

@font-face {
    font-family: 'Rajdhani';
    font-weight: 700;
    src: url('../fonts/Rajdhani-Bold.ttf') format('truetype');
}
